@using Core.ViewModels
@model ProfileBasePageModel
@{

}

<div class="row">
    <div class="d-flex justify-content-center">
        <img src="/img/profile.jpg" class="rounded-circle shadow-4-strong profile-picture border-3">
    </div>
</div>

