@page
@using Web.Sk.Areas.Details.Pages
@model CVModel
@{
}

<row class="d-flex justify-content-center" style="margin-top: 2em;">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title">CV</h5>

            <p>My <a class="link-opacity-100-hover" href="https://www.linkedin.com/in/srenfuglsang/">LinkedIn</a> is always up to date and I'm regularly checking for new messages.</p>
            <br />
            <div style="margin-bottom:3em;" class="d-flex justify-content-center badge-base LI-profile-badge" data-locale="da_DK" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="srenfuglsang" data-version="v1"></div>
            

        </div>
    </div>
</row>

<row class="d-flex justify-content-center" style="margin-top: 2em;">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title">Off Duty</h5>
            <p class="card-text">
                I’m situated in the rural area between Herning and Holstebro (Denmark) with my wife Jessica and our 3 kids.
                I like to tinker in technical stuff in my spare time where the stuff ranges from IT, home network to
                old diesel tractors, engines, etc.
            </p>
            <p class="card-text">
                Our family aspire to live a self-sufficient life on our homestead where we use our spare time to grow veggies, tend to animals and in general enjoy the nature around us.
                Aside from the homestead I like to do activities in the fresh air e.g. running and hiking.
            </p>
            <p class="card-text">
                I like coding, and I have several projects that I try to regularly work on (if time is available). Not all projects are public.
            </p>
        </div>
    </div>
</row>

<row class="d-flex justify-content-center" style="margin-top: 2em;">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title">On Duty</h5>

            <h6 class="card-subtitle mb-2 text-body-secondary">Socially</h6>

            <p class="card-text">
                Easy to talk and socialize with, be it in-person or remote. Polite and helpful. Used to project/work groups as well
                as working on solo project.
            </p>

            <h6 class="card-subtitle mb-2 text-body-secondary">Tech</h6>

            <p class="card-text">
                I have primarily done my work in C# (.NET, most versions) and SQL (MSSQL). I'm have mainly been focused on building backend systems, ranging from whole systems from scratch to minor additions/changes to existing software.
                Doing frontend development doesn't scare me, but it has not been my primary scope.

                Lately Azure (+ Azure Devops) has been my main platform for deployment at work.

                In private (very smallscale) I have been fiddling in Python, PHP, MongoDB, Arduino, with varying success rate.
            </p>

            <h6 class="card-subtitle mb-2 text-body-secondary">Day-to-day</h6>

            <p class="card-text">
                I have been full remote since 2020, however I do not mind on-prem, as long as it makes sense. I value the flexibility, especially as I have small children.
            </p>
        </div>
    </div>
</row>


<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>


