@page
@model IndexModel
@{
    ViewData["Title"] = "Søren Fuglsang";
}

<row class="d-flex justify-content-center">
    <div class="card border-2" style="margin-top: 2em; width: 25em;">

        <div style="margin-top: 3em;">
            <partial name="./Partials/_ProfilePicturePartial" , model="@Model" />
        </div>

        <div style="margin-bottom: 2em;margin-top: 1em;">
            <partial name="./Partials/_NamePartial" , model="@Model" />
        </div>

        <div>
            <partial name="./Partials/_LinkButtonPartial" , model="@Model.LinkButtons.Where(x => x.Type == Core.ViewModels.LinkButtonType.GenericLayer1)" />
        </div>

        <div>
            <partial name="./Partials/_LinkButtonPartial" , model="@Model.LinkButtons.Where(x => x.Type == Core.ViewModels.LinkButtonType.GenericLayer2)" />
        </div>
        <div class="text-muted" style="margin-left:0.5em;">
            &copy; 2024 - fglsng.dk
        </div>
    </div>


  
</row>


