@page
@model IndexModel
@{
}

<row class="d-flex justify-content-center" style="margin-top: 2em;">
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <p>If the repository links results in a 404, it's because I have not yet made the repo public. The projects listed are only the ones that are publicly available.</p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">State</th>
                        <th scope="col">Links</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Simple Config Loader</th>
                        <td>A very simple tool I use in several of my own projects. Is used to load config files.</td>
                        <td>Available</td>
                        <td class="text-wrap">
                            <ul>
                                <li><a href="https://www.nuget.org/packages/SimpleConfigLoader">Nuget</a></li>
                                <li><a href="https://github.com/fglsng/SimpleConfigLoader">Repository</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Link Profiles</th>
                        <td>This site. Used to present some quick links to the different sites I present on. Mainly inspired of some of the "link share sites" that many streamers use. I just created my own version.</td>
                        <td>Available</td>
                        <td class="text-wrap">
                            <ul>
                                <li><a href="https://sk.fglsng.dk">Site</a></li>
                                <li><a href="https://github.com/fglsng/LinkProfiles">Repository</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>MemZen</th>
                        <td>A site to help quizzing / learning. Created because my wife kindly asked me to, as she needed something like that to help her support her studies (in physiotherapy). The site has active users.</td>
                        <td>Beta</td>
                        <td class="text-wrap">
                            <a href="https://memzen.eu">Site</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</row>