html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.soren-generic {
    width: 15em;
}

.img-btn {
    float: left;
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

.img-btn-text {
    margin-left: -1.5em;
}

a {
    text-align: center;
}

img.profile-picture {
    max-width: 15em;
}

.main-area-soren {
    background: rgb(141,172,255);
    background: radial-gradient(circle, rgba(141,172,255,1) 0%, rgba(195,211,255,1) 23%, rgba(255,255,255,1) 100%);
}

.name-text {
    text-align: center;
}

.description-text {
    text-align: center;
}

